{% load cms_tags i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Django check SEO</title>
    <style>
      body{margin-top: 48px;}
      pre{
        padding: 3px;
        margin: 5px;
        white-space: pre-wrap;
        background-color: #eef;
        border: 1px solid grey;
      }
    </style>
  </head>
  <body>
    <h1>Django check SEO</h1>

    <p>{% trans "An app that will look at your content and help you solve your SEO problems." %}</p>

    <hr />

    <p>

      <strong>
{% blocktrans count nbproblems=problems|length %}
{{ nbproblems }} problem found,
{% plural %}
{{ nbproblems }} problems found,
{% endblocktrans %}
{% blocktrans count nbwarnings=warnings|length %}
and {{ nbwarnings }} warning raised.
{% plural %}
and {{ nbwarnings }} warnings raised.
{% endblocktrans %}

      </strong>
    </p>

    <ul>
      {% for problem in problems %}
        <li>
          <details>
            <summary><strong>{{ problem.name }}</strong> <i>({% trans "settings" %}: {% autoescape off %}{{ problem.settings }}, {% trans "found" %} {{ problem.found }})</i></summary>
            {{ problem.description }}{% endautoescape %}<br />
          </details>
        </li>
      {% endfor %}
    </ul>

    <ul>
      {% for warning in warnings %}
        <li>
          <details>
            <summary><strong>{{ warning.name }}</strong> <i>(settings: {% autoescape off %}{{ warning.settings }})</i></summary>
            {{ warning.description }}{% endautoescape %}<br />
          </details>
        </li>
      {% endfor %}
    </ul>

    <hr />

    <details>
      <summary>
        {% trans "See extracted html" %}
      </summary>
      <pre>
{{ html }}
      </pre>
    </details>
    <details>
      <summary>
        {% trans "See extracted content" %}
      </summary>
      <pre>
{{ text }}
      </pre>
    </details>
    <details>
      <summary>
        {% trans "See settings" %}
      </summary>
      <pre>
{{ settings }}
      </pre>
    </details>

  </body>
</html>
