repos:
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^.*\.py$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        files: ^.*\.py$

  - repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        files: ^.*\.py$

  - repo: https://github.com/rtts/djhtml
    rev: v1.5.0
    hooks:
    -   id: djhtml
        args: [--tabwidth=2]
        files: ^.*\.html$

  - repo: https://gitlab.com/kapt/open-source/git-hooks
    rev: v1.2.0
    hooks:
    -   id: commit-msg
        always_run: true
