include LICENSE
include README.md
include CONTRIBUTING.md
include AUTHORS.md
recursive-include django_check_seo/static/ *
recursive-include django_check_seo/templates/ *.html
recursive-include django_check_seo/locale/ *
