{% load cms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Django check SEO</title>
    <style>
      body{margin-top: 48px;}
    </style>
  </head>
  <body>
    <h1>Django check SEO</h1>

    <p>An app that will look at your content and help you solve your SEO problems.</p>

    <hr />

    <p>
      <strong> {{ problems|length }} problèmes trouvés, et {{ warnings|length }} avertissements levés.</strong>
    </p>

    <ul>
      {% for problem in problems %}
        <li>
          <details>
            <summary><strong>{{ problem.name }}</strong> <i>(settings: {% autoescape off %}{{ problem.settings }})</i></summary>
            {{ problem.description }}{% endautoescape %}<br />
          </details>
        </li>
      {% endfor %}
    </ul>

    <ul>
      {% for warning in warnings %}
        <li>
          <strong>{{ warning.name }}</strong> <i>(settings: {% autoescape off %}{{ warning.settings }})</i><br />
          {{ warning.description }}{% endautoescape %}<br />
        </li>
      {% endfor %}
    </ul>

    <hr />

    <details>
      <summary>
        See parsed html
      </summary>
      <pre>
{{ parsehtml }}
      </pre>
    </details>
    <details>
      <summary>
        See settings
      </summary>
      <pre>
{{ settings }}
      </pre>
    </details>

  </body>
</html>
